notebooks/.ipynb_checkpoints/mlp_on_mnist-checkpoint.ipynb
notebooks/.ipynb_checkpoints/optimizers-checkpoint.ipynb
notebooks/.ipynb_checkpoints/training_DNN-checkpoint.ipynb
notebooks/.ipynb_checkpoints/transfer_learning-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Untitled-checkpoint.ipynb
